.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
.editorconfig
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
!**/node_modules/**/twind/**/*.d.ts
**/node_modules/@babel/runtime/helpers/esm/**
**/*.ts
**/*.mjs
**/*.esm.js
**/*.umd.js
**/*.umd.min.js
**/*.esnext.js
**/*.js.flow
**/*.test.js
**/bin/**
**/test/**
**/example/**
**/benchmark/**
*/**.vsix
**/**.tar.gz
undefined/**
